[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
click_log = "==0.3.2"
boto3 = "*"
botocore = "*"

[requires]
python_version = "3.7"
